//import
@import "./variables.scss";
@mixin bob($property){
    -webkit-transform: $property ;
    -ms-transform: $property ;
    transform: $property;
}


div{
    display: block;
    margin: auto;
    height: 50px;
    width: 50px;
    background-color: $c1;
    
}
.squ{
    @include bob (rotate(45deg));
}
p{
    transform: rotate(0.5turn);
}


