//import
@import "./variables.scss";



.textbox{
    width: 100%;
    margin: 20px 0;
    padding: 0 10% ;
    border: solid yellow ;
}

.info{
    background-color: aqua;
    @extend .textbox
}
.warning{
    background-color: brown;
    @extend .textbox
}
